.logo{
    width: 400px;
    height: 400px;
    margin: 5px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
    padding: 5px; /*define uma distancia interna entre um elemento e sua borda*/
    border: 0 9rem solid #000000;
    border-radius: 28px;
}

.fotos  {
    width: 600px;
    height:400px ;
    margin: 15px;
    padding: 5px;
    border: 0.9rem solid #000000;
    border-radius: 28px;
}    