body {
   background-image :linear-gradient(#F2BDBD ,#D99D8F,#F2BDBD);
}


h1 {
    color:#D97777;
    font-size: 50px;
    text-align: center;
}

p{ 
    color: #000000;
    font-size: 30px;
    text-align: justify;
}

.logo{
    width: 400px;
    height: 400px;
    margin: 5px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
    padding: 5px; /*define uma distancia interna entre um elemento e sua borda*/
    border: 0 9rem solid #F2BDBD;
    border-radius: 28px;
}

.fotos  {
    width: 600px;
    height:400px ;
    margin: 15px;
    padding: 5px;
    border: 0.9rem solid #F2DCC9;
    border-radius: 28px;
}    